{% extends "layout.html" %}


{% block content %}

<div class="barraBusqueda">
	<form action="">
		<div class="mb-3">
			<label for="buscar" class="form-label">
				Buscar Gasto:
			</label>
			<input type="text" class="form-control" name="buscar" />
		</div>
	</form>
</div>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Categoria</td>
				<td>Recurrencia</td>
				<td>Nombre</td>
				<td>Fecha</td>
				<td>Cantidad</td>
				<td>Factura</td>
			</tr>
		</thead>
		<tbody>
			{% if gastos %}
			{% for gasto in gastos %}
			<tr>
				<td>{{gasto.id}}</td>
				<td>{{gasto.categoria}}</td>
				<td>{{gasto.recurrencia}}</td>
				<td>{{gasto.nombre}}</td>
				<td>{{gasto.fecha}}</td>
				<td>{{gasto.cantidad}}</td>
				<td>{{gasto.factura}}</td>
			</tr>
			{%endfor%}
			{%endif%}
		</tbody>
	</table>
</div>

<div class="">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
		data-bs-whatever="@mdo">Registrar</button>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="/gastos/" method="POST">
					<h1>PORQUE NO ME RECIVE EL FORM</h1>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}